.BackButton {
    margin-left: 70px;
    background: #000000; /*цвет фона*/
    border-radius: 3px; /*радиус скругления*/
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset; /*внутрення тень*/
    color: #ffffff; /*цвет текста*/
    font-family: sans-serif; /*семейство шрифта*/
    font-size: 14px; /*размер текста*/
    font-weight: bold; /*жирный шрифт*/
    line-height: 1.5; /*высота строки*/
    padding: 12px 50px; /*внутрение отступы*/
    text-decoration: none; /*убераем подчеркивание*/
    transition: all 0.3s; /*плавный эффект перехода*/
    border: 1px solid black;

}

a.BackButton:hover {
    background: #ffffff; /*другой цвет фона*/
    color: black;
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset; /*расположение тени сверху*/
}

.UserCard {
    display: flex;
    background: #ab6aec;
    padding-bottom: 50px;
    margin: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-Info {
    width: 70%;
    margin-left: 30px;
}

.user-screen > img {
    width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
}

.user-Info > p {
    width: 90%;
}