.ConfirmMail {
    margin-left: 70px;
    margin-top: 20px;
    background: #287df8;
    border-radius: 10px;
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 18px 130px;
    transition: all 0.3s;
}

.ConfirmMail:hover {
    background: #32f522;
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
}

.forgotBox {
    margin-top: 130px;
    margin-left: 34%;
    width: 500px;
    height: 280px;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 2px 15px -7px #888;
}

.forgotLabel {
    padding-left: 40px;
}

.forgotBox > p {
    padding-left: 10px;
}