
.userCard {
    display: flex;
    background: #ab6aec;
    padding-bottom: 50px;
    margin: 50px 70px 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.LogoutButton {
    margin-top: 5px;
    margin-left: 1090px;
    background: #ec0000;
    border-radius: 3px;
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 9px 50px;
    text-decoration: none;
    transition: all 0.3s;
    border: 1px solid black;
}

.LogoutButton:hover {
    background: #3cd949;
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
}

.deleteButton {
    margin-left: 10px;
    margin-top: 20px;
    background: #eb0505;
    border-radius: 10px;
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px 146px;
    transition: all 0.3s;
}

.deleteButton:hover {
    background: #3cd968;
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
}

.user-Info {
    width: 70%;
    margin-left: 30px;
}

.user-screen > img {
    width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
}

.user-screen {
    padding-left: 250px;
}

.user-Info > p {
    width: 90%;
}

.UpdateButton {
    margin-left: 10px;
    margin-top: 20px;
    background: #e3982e;
    border-radius: 10px;
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px 160px;
    transition: all 0.3s;
}

button.UpdateButton:hover {
    background: #eb0542;
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset;
}