.header_links {
    margin-left: 80%;
    margin-top: 20px;
}

.Link_Button {
    margin-left: 80px;
    margin-top: 20px;
    background: #1620c9; /*цвет фона*/
    border-radius: 3px; /*радиус скругления*/
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset; /*внутрення тень*/
    color: #ffffff; /*цвет текста*/
    font-family: sans-serif; /*семейство шрифта*/
    font-size: 14px; /*размер текста*/
    font-weight: bold; /*жирный шрифт*/
    line-height: 1.5; /*высота строки*/
    padding: 10px 40px; /*внутрение отступы*/
    text-decoration: none; /*убераем подчеркивание*/
    transition: all 0.3s; /*плавный эффект перехода*/
}

a.Link_Button:hover {
    background: #05ebb5; /*другой цвет фона*/
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset; /*расположение тени сверху*/
}

.Main-box {
    margin: 40px;
}

.mainInput {
    margin: 20px;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 17px;
}

label {
    font-size: 20px;
    margin-left: 20px;
}

.form-box {
    display: flex;
}

.Registration>h3{
    margin-left: 40px;
}

.Create-form {
    width: 90%;
    margin-left: 40px;
    background-color: #05ebb5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 2px 15px -7px #888;
}

.Registration {
    margin-left: 50px;
}

select {
    padding-left: 5px;
    margin: 20px;
    width: 300px;
    height: 45px;
    border-radius: 6px;
    font-size: 17px;
}


.Add_button {
    margin-top: 140px;
    margin-left: 40px;
    background: #953aef; /*цвет фона*/
    border-radius: 10px; /*радиус скругления*/
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset; /*внутрення тень*/
    color: #ffffff; /*цвет текста*/
    font-family: sans-serif; /*семейство шрифта*/
    font-size: 14px; /*размер текста*/
    font-weight: bold; /*жирный шрифт*/
    line-height: 1.5; /*высота строки*/
    padding: 20px 160px; /*внутрение отступы*/
    transition: all 0.3s;
}

.User-header {
    display: flex;

    margin-left: 40px;
}

.User-header > h3 {
    width: 50px;
    margin-left: 193px;
}

.UserList {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 55px;
}

.Errors {
    color: #eb0505;
    font-weight: bold;
    margin-top: 20px;
}

.first-box {
    width: 30%;

}

.second-box {
    width: 30%;
}

.third-box {
    width: 40%;
}

option{
    font-size: 17px;
}
